<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.xinda.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="com.xinda.rcp.Perspective"
            id="com.xinda.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.xinda.rcp.view.FolderView"
            id="com.xinda.rcp.view.folder"
            name="%view.name.CatalogView">
      </view>
      <view
            class="com.xinda.rcp.view.BookView"
            id="com.xinda.rcp.view.book"
            name="%view.name.BookView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.xinda.rcp.command.NewBill"
            name="%command.name.NewBill">
      </command>
      <command
            id="com.xinda.rcp.command.NewPayment"
            name="%command.name.NewPayment">
      </command>
      <command
            id="com.xinda.rcp.command.NewCustomer"
            name="%command.name.NewCustomer">
      </command>
      <command
            id="com.xinda.rcp.command.NewInvoice"
            name="%command.name.NewInvoice">
      </command>
      <command
            id="com.xinda.rcp.command.Remove"
            name="%command.name.Remove">
      </command>
      <command
            id="com.xinda.rcp.command.folder"
            name="%command.name.folder">
      </command>
      <command
            id="com.xinda.rcp.command.book"
            name="%command.name.book">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.xinda.rcp.handler.NewOrderHandler"
            commandId="com.xinda.rcp.command.NewBill">
      </handler>
      <handler
            class="com.xinda.rcp.handler.NewPaymentHandler"
            commandId="com.xinda.rcp.command.NewPayment">
      </handler>
      <handler
            class="com.xinda.rcp.handler.NewCustomerHandler"
            commandId="com.xinda.rcp.command.NewCustomer">
      </handler>
      <handler
            class="com.xinda.rcp.handler.NewInvoiceHandler"
            commandId="com.xinda.rcp.command.NewInvoice">
      </handler>
      <handler
            class="com.xinda.rcp.handler.RemoveHandler"
            commandId="com.xinda.rcp.command.Remove">
         <enabledWhen>
            <reference
                  definitionId="com.xinda.rcp.definition.RecordSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.xinda.rcp.handler.NewFolderHandler"
            commandId="com.xinda.rcp.command.folder">
      </handler>
      <handler
            class="com.xinda.rcp.handler.NewBookHandler"
            commandId="com.xinda.rcp.command.book">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.xinda.rcp.toolbar.new">
            <command
                  commandId="com.xinda.rcp.command.NewBill"
                  icon="icons/Cart.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.xinda.rcp.command.NewPayment"
                  icon="icons/Dollar2.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.xinda.rcp.command.NewInvoice"
                  icon="icons/Document Spreadsheet.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.xinda.rcp.command.NewCustomer"
                  icon="icons/User.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.xinda.rcp.command.book"
                  icon="icons/Document.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.xinda.rcp.command.folder"
                  icon="icons/Folder.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.xinda.rcp.view.book">
         <command
               commandId="com.xinda.rcp.command.NewBill"
               icon="icons/Cart.png"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="com.xinda.rcp.command.NewPayment"
               icon="icons/Dollar2.png"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="com.xinda.rcp.command.NewInvoice"
               icon="icons/Document Spreadsheet.png"
               mode="FORCE_TEXT"
               style="push">
         </command>
         <command
               commandId="com.xinda.rcp.command.Remove"
               icon="icons/Minus.png"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.xinda.rcp.definition.RecordSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.xinda.rcp.application"
            name="com.xinda.rcp">
         <property
               name="appName"
               value="com.xinda.rcp">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.xinda.rcp.definition.RecordSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <or>
                  <instanceof
                        value="com.xinda.rcp.model.Invoice">
                  </instanceof>
                  <instanceof
                        value="com.xinda.rcp.model.Payment">
                  </instanceof>
                  <instanceof
                        value="com.xinda.rcp.model.Order">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
